h1 {
    font-size: 32px;
    font-weight: 600 bold;
    margin-top: 60px;
}
p {
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}
/* レスポンシブ */
@media(max-width: 600px){
    body{
        background-color: aquamarine;
    }
}
@media(min-width: 1200px){
    h1{
        font-size: 50px;
    }
}